<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- En dev : sortie console lisible avec l'errorId dans le MDC -->
    <springProfile name="dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{ISO8601} %-5level [errorId=%X{errorId:-}] [code=%X{errorCode:-}] %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- En prod : sortie structuree (ici pattern ; brancher un encoder JSON
         type logstash-logback-encoder pour l'agregation ELK/Datadog). -->
    <springProfile name="prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{ISO8601} %-5level [%thread] [errorId=%X{errorId:-}] [code=%X{errorCode:-}] %logger{40} - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- Fallback (aucun profil actif / tests) -->
    <springProfile name="!dev &amp; !prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{ISO8601} %-5level [errorId=%X{errorId:-}] %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>
